body{
    text-align: center;
}
.btn{
    height: 10rem;
    width: 10rem;
    border: 4px solid black;
    border-radius: 2rem;
    margin: 0.2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(236, 64, 64);
}
.yellow{
    background-color: rgb(245, 220, 61);
}
.green{
    background-color: rgb(1, 104, 46);
}
.purple{
    background-color: rgb(107, 73, 241);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: rgb(116, 255, 116);
}