*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("bgpic.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.main{
    height: 40rem;
    margin: 5rem 10rem 0rem 10rem;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
}
.head{
    border: 3px  solid black;
    border-radius: 2px;
    color: black;
    background-color: rgb(255, 255, 255,0.1);
    font-family: sans-serif;
    font-weight: 600;
}
.box-1{
    padding-top: 1.5rem;
    height: auto;
    width: auto;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search{
    margin: 0;
    height: 2.5rem;
    width: 25rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: 500;
}
.search:hover{
   border: solid rgb(22, 22, 22,0.8);
}
.btn{
    color: rgb(112, 109, 109);
    height: 2.5rem;
    width: 5rem;
    margin: 0;
    height: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius:  solid rgb(49, 48, 48) 4px;
}

.output{
    margin: 2rem  9rem  0rem  9rem;
    padding-left:2rem ;
    height: auto;
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 1rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
}

