*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}

.header{
    color: white;
    background-color: black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputbox{
    display: flex;
    justify-content: center;
}
.input{
    height: 2.5rem;
    border-radius: 4px;
    text-align: center;
    margin-right: 2rem;
    font-size: large;
}
.btn-sub{
    height: 2.5rem;
    width: 4rem;
}
.list{
    padding-top: 2rem; ;
    height: 30rem;
    border-radius: 0rem 0rem 2rem 2rem ;
    background-color: rgb(82, 81, 80);
    color: white;
    display: flex;
    justify-content: center;
    margin:0rem 20rem 10rem 20rem ;
}
li{
    font-size: larger;
}
.foot{
    text-align: center;
    font-size: 2.5rem;
}
